<Html>
  <head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  </head>
</Html>
<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="#" ><i class="fa-solid fa-shop me-2"></i> <strong>Auto École</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class=" collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase " routerLink="/users">Utilisateurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase active" aria-current="page" routerLink="/users"
          style="color: #ffc107;"routerLink="/vehicules">Véhicules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" routerLink="/calendrier">Séances</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" routerLink="/examens">Examens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase"routerLink="">Cours</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" routerLink="/quizlist">Quizs</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto ">


        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">Mon profil</span>

          </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="userDropdown">

              <button class="dropdown-item" (click)="logout()" >
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
              </button>
          </div>
      </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <!-- Page Heading -->

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Tout les Véhicules</h6>
      </div>

      <div class="card-body">
        <a routerLink="/addvehicule" style="float: right;" class="btn btn-primary btn-add-vehicle">
          <i class="fas fa-car"></i> Ajouter une Véhicule
        </a>
<br>
<br>

          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th> matricule </th>
                      <th>marque</th>
                      <th>modèle</th>
                      <th>numéro de Serie</th>
                      <th>date d'Assurance</th>
                      <th>date de Fin d'Assurance</th>
                      <th>date du Contole Technique </th>
                      <th>date Prochain Controle Technique</th>



                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th> matricule </th>
                      <th>marque</th>
                      <th>modèle</th>
                      <th>numéro de Serie</th>
                      <th>date d'Assurance</th>
                      <th>date de Fin d'Assurance</th>
                      <th>date du Contole Technique </th>
                      <th>date Prochain Controle Technique</th>



                    </tr>
                </tfoot>
                  <tbody>

             <!--     <tr>
                        <td>129 tun 5100</td>
                        <td>polo</td>
                        <td>polo 6</td>
                        <td>129</td>
                        <td>22/02/2023</td>
                        <td>22/02/2024</td>
                        <td>13/03/2023</td>
                        <td>13/03/2024</td>



                        <td class="d-flex align-items-center">
                          <button class="btn btn-warning  btn-sm mr-2"  data-toggle="modal" data-target="#exampleModal" >
                            <i class="fas fa-sync-alt"></i> Modifier
                          </button>


                          <button class="btn btn-primary  btn-sm mr-2" >
                            <i class="fas fa-info-circle"></i> Détails
                          </button>
                          <button class="btn btn-danger  btn-sm" >
                            <i class="fas fa-trash-alt"></i> Supprimer
                          </button>
                      </td>
                    </tr>
                    -->
                    <tr *ngFor="let item of dataArray ;index as i">
                    <td>{{item.matricule}}</td>
                      <td>{{item.marque}}</td>
                      <td> {{item.modele}}</td>
                      <td>{{item.numeroSerie}}</td>
                      <td>{{item.dateAssurance}}</td>
                      <td>{{item.dateFinAssurance}}</td>
                      <td>{{item.dateCtrlTechnique}}</td>
                      <td>{{item.dateProchainCtrlTechnique}}</td>




                      <td class="d-flex align-items-center">
                        <button class="btn btn-warning  btn-sm mr-2"   (click)="getdata(item._id,item.matricule, item.marque, item.modele ,item.numeroSerie ,item.dateAssurance,item.dateFinAssurance,item.dateCtrlTechnique,item.dateProchainCtrlTechnique)" data-toggle="modal" data-target="#exampleModal">
                          <i class="fas fa-sync-alt"></i> Modifier
                        </button>


                        <button class="btn btn-primary  btn-sm mr-2" >
                          <i class="fas fa-info-circle"></i> Détails
                        </button>
                        <button class="btn btn-danger  btn-sm" (click)="delete(item._id, i)" >
                          <i class="fas fa-trash-alt" ></i> Supprimer
                        </button>
                      </td>
                  </tr>


                </tbody>
              </table>
          </div>
      </div>
  </div>

</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- form update start here -->
        <form #f="ngForm" (ngSubmit)="updatenewVehicule(f)">
          <!-- firstName validation start here -->
              <div class="form-group">

                <label for="exampleFormControlInput1">Matricule</label>
                <input type="text" class="form-control" placeholder="Matricule" [(ngModel)]="dataVehicule.matricule" required name="matricule" #matricule="ngModel" ngModel >
              </div>




          <!-- Email validation start here -->

                <div class="form-group">
                  <label for="exampleFormControlInput1">Marque</label>
                  <input type="text" class="form-control" placeholder="Marque" [(ngModel)]="dataVehicule.marque" required name="marque" #marque="ngModel" ngModel>
                </div>

                <div class="form-group">
                  <label for="exampleFormControlInput1">Modéle</label>
                  <input type="text" class="form-control" placeholder="Modéle" [(ngModel)]="dataVehicule.modele" required name="modele" #modele="ngModel" ngModel>
                </div>

          <!-- Email validation end here -->


          <div class="form-group">

            <label for="exampleFormControlInput1">Numéro de Serie</label>
            <input type="text" class="form-control" placeholder="Numéro de Serie" [(ngModel)]="dataVehicule.numeroSerie" required name="numeroSerie" #numeroSerie="ngModel" ngModel>
          </div>

          <div class="form-group">

            <label for="exampleFormControlInput1">Date D'assurance</label>
            <input type="text" class="form-control" placeholder="Date D'assurance" [(ngModel)]="dataVehicule.dateAssurance" required name="dateAssurance" #dateAssurance="ngModel" ngModel>
          </div>

          <div class="form-group">

            <label for="exampleFormControlInput1">Date de Fin D'assurence</label>
            <input type="text" class="form-control" placeholder="Date de Fin D'assurence" [(ngModel)]="dataVehicule.dateFinAssurance" required name="dateFinAssurance" #dateFinAssurance="ngModel" ngModel>
          </div>

          <div class="form-group">

            <label for="exampleFormControlInput1">Date de Contole Technique </label>
            <input type="email" class="form-control" placeholder="Date de Contole Technique" [(ngModel)]="dataVehicule.dateCtrlTechnique" required name="dateCtrlTechnique" #dateCtrlTechnique="ngModel" ngModel >
          </div>
          <div class="form-group">

            <label for="exampleFormControlInput1">Date de Prochain Controle Technique </label>
            <input type="text" class="form-control" placeholder="Date de Prochain Controle Technique " [(ngModel)]="dataVehicule.dateProchainCtrlTechnique" required name="dateProchainCtrlTechnique" #dateProchainCtrlTechnique="ngModel" ngModel>
          </div>


          <button class="btn btn-primary" > <i class="fas fa-sync-alt"></i>Modifier </button>
        </form>
        <!-- form update end here -->



    </div>
  </div>
</div>
